@use "../../styles/variables" as *;
@use "../../styles/loader";
@use "sass:color";

.validation-result {
    .row {
        display: flex;
        align-items: center;
        gap: $s1;
    }
    .check {
        color: $success;
    }
    .error, .error-context {
        color: $error;
    }

    .loading-icon {
        position: relative;
        height: 1em;
        width: 1em;
        &::after {
            content: "";
            inset: 0;
            margin: auto;
            position: absolute;
            @include loader.LoadingCircle
        }
    }
}

#setup-page {
    .output {
        .spaced {
            display: flex;
            flex-direction: column;
            gap: $s1;
            align-items: flex-start;
        }
        margin-top: $s1 * 2;
        font-size: 0.8em;

        .jpdb-key-field {
            max-width: 15em;
        }
    }
}