@use "../../styles/variables" as *;
@use "../../styles/loader";
@use "sass:color";

.validation-result {
    white-space: pre-wrap;
    .row {
        display: flex;
        align-items: center;
        gap: $s1;
    }
    .check {
        color: $success;
    }
    .error {
        color: $error;
    }
    h3 {
        border-bottom: $border0;
        margin-bottom: 0.2em;
        width: 30em;
        max-width: 100%;
    }

    .loading-icon {
        position: relative;
        height: 1em;
        width: 1em;
        &::after {
            content: "";
            inset: 0;
            margin: auto;
            position: absolute;
            @include loader.LoadingCircle
        }
    }
}

#setup-page {
    .output {
        margin-top: $s1 * 2;
        font-size: 0.8em;

        .field {
            max-width: 15em;
        }
    }
    .button-group {
        display: flex;
        align-items: center;
        gap: $s1;
    }
}