@use "../../styles/variables" as *;

.number-field {
    display: flex;
    align-items: center;
    .display {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        label {
            font-size: 0.6em !important;
        }
    }

    &:hover {
        background: #FFFFFF10;
    }
}

.checkbox-field {
    display: flex;
    align-items: center;
    gap: $s1;
    user-select: none;
    color: $label;
    padding: $s1;
    input {
        width: 1em;
        height: 1em;
        accent-color: $blue;
        &:focus {
            outline: 2px solid $blue;
            outline-offset: 2px;
        }
    }
}

.popover {
    .header {
        font-size: 1.2em;
        display: flex;
    }
    font-size: 0.75em;
    padding: 0.2em;
    color: $fontColor; // chrome resets color without this
    background-color: $background0;
    border: $border0;
    // dropdown menus are usually small/tighter
    &.menu {
        padding: 0;
    }
}

.popover[popover] {
    margin: 0;
    inset: auto;
    top: calc(anchor(bottom));
    left: calc(anchor(left));
}

.up-down-buttons {
    display: flex;
    flex-direction: column;
    >* {
        font-size: 0.75em;
        padding: 0.05em;
    }
}