@use "../../styles/variables" as *;

.number-field {
    display: flex;
    align-items: center;
    .display {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        label {
            font-size: 0.6em;
        }
    }

    label {
        cursor: unset;
    }
    cursor: ns-resize;

    &:hover {
        background: $hoverHighlight;
        outline: $border0;
    }
    padding-right: $s1 * 2;
}

.checkbox-field {
    display: flex;
    align-items: center;
    gap: $s1;
    user-select: none;
    padding: $s1;
    input {
        width: 1em;
        height: 1em;
        accent-color: $blue;
        &:focus {
            outline: 2px solid $blue;
            outline-offset: 2px;
        }
    }
}

.up-down-buttons {
    display: flex;
    flex-direction: column;
    >* {
        font-size: 0.75em;
    }
}