@use "../../styles/variables" as *;
@use "sass:color";

#subs-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    #body-container {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        #inner-body-container {
            padding: 16px;
            flex: 1 1 0;
            @include vertical-scroll;

            &.drag-enter {
                .drop-target-border {
                    inset: 20px;
                }
                #subtitle-drop-target {
                    background: $hoverHighlight
                }
                // this triggers when we've already loaded subtitles (and removed the main drop target)
                // we can still drop files though, so we need some sort of styling
                &:not(:has(#subtitle-drop-target)) {
                    background: $hoverHighlight
                }
            }
        }

        #subtitle-drop-target {
            height: 100%;
            max-width: 50%;
            cursor: pointer;
            user-select: none;
            &:hover {
                background: $hoverHighlight
            }
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .drop-target-border {
                z-index: -1;
                inset: 0;
                position: absolute;
                border: 3px dashed #FFFFFFB0;
            }
            >.primary-text {
                margin-bottom: $s1 * 2;
            }
            .sub-text {
                font-size: 0.7em;
            }
            .button-group {
                margin-top: $s1 * 2;
                display: flex;
                gap: $s1;
            }
            input {
                display: none;
            }
        }
    }
    #subtitle-container {
        display: flex;
        justify-content: flex-start;
        font-size: 1.3em;
        >.subtitle-viewer {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 30em;
            position: relative;
            padding-left: 1.5em; // leave room for pointer
            .pointer {
                font-family: monospace;
                position: absolute;
                left: 0;
                transform: translateY(-50%);
            }
            &:has(>.inner:empty) {
                display: none;
            }
            .unknown {
                background-color: oklch(0.7012 0.1888 22.97 / 15%);
            }
        }
        .subtitle-entry {
            &.highlight {
                background-color: oklch(0.7012 0.1888 143.23 / 15%);
            }
            display: flex;
            align-items: stretch;
            .timestamp {
                cursor: pointer;
                user-select: none;
                align-items: center;
                display: flex;
                font-family: monospace;
                opacity: 0.5;
                padding-right: 16px;
            }
            .subtitles {
                // Not sure why I had these styles
                // display: flex;
                // flex-direction: column;
                white-space: pre-wrap;
            }
        }
        .hover-rectangle {
            border-bottom: 2px dashed color.change($red, $alpha: 0.7);
            &.known {
                border-bottom: 2px dashed color.change($green, $alpha: 0.7);
            }
            &.similar {
                border-bottom: 2px dashed color.change($yellow, $alpha: 0.7);
            }
            &.ignore {
                border-bottom: 2px dashed color.change($blue, $alpha: 0.7);
            }
            position: absolute;
            pointer-events: none;
        }
    }
    #status-info {
        font-size: 1.3em;
        position: absolute;
        padding: 0.25em;
        right: 0px;
        display: flex;
        align-items: center;
        #current-time {
            font-family: monospace;
            top: 0;
        }
        #connection-status-dot-wrapper {
            padding: 0 0.2em;
            align-self: stretch;
            display: flex;
            align-items: center;
            #connection-status-dot {
                width: 0.4em;
                height: 0.4em;
                border-radius: 50%;

                &:not(.disconnected):not(.connected) {
                    background-color: rgb(255, 205, 125);
                    cursor: wait;
                }

                &.disconnected {
                    background-color: rgb(254, 97, 99);
                    cursor: pointer;
                }
                &.connected {
                    background-color: rgb(69, 197, 83);
                }
            }
        }
    }

}

// not inside page id check since it lives in the portal (outside of the page)
#recommended-mining-modal {
    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: $s1 * 3;
        label:has(#show-ignored:checked, #show-kana:checked) {
            color: $ignored;
        }
    }
    .row-container {
        display: grid;
        // 1fr at the end means the last column will grow after all columns have hit their desired size
        // without the 1fr, the button columns will also grow, which looks bad
        grid-template-columns: repeat(4, auto) 1fr;
        column-gap: $s1;
        align-items: center;
        .vocab-row {
            display: contents; // I kinda hate this, but table wasn't great either
            .up-down-buttons {
                margin-right: -$s1; // remove gap
                position: relative;
                .usage-count {
                    font-size: 0.6em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                }
            }
            &.ignored, &.kana {
                .frequency {
                    color: $ignored;
                }
            }
            &.known {
                .frequency {
                    color: $known;
                }
            }
        }
    }
}


#jp-hover-tooltip {
    font-size: 0.975em;
    .header {
        gap: $s1;
        .vocab-state {
            padding-left: 1em;
            margin-left: auto;
            font-size: 0.6em;
            &.new {
                color: $brightRed;
            }
            &.known {
                color: $brightGreen;
            }
            &.particle {
                color: $brightBlue;
            }
            &.similar, &.kana, &.ignored, &.altspelling {
                color: $brightYellow;
            }
        }
        .frequency {
            font-size: 0.6em;
            &::before {
                content: "Top "
            }
        }
    }
    .reading {
        font-size: 0.8em;
        opacity: 0.8;
    }
    max-width: 600px;
}