@use "variables";
@use "loader";
@use "sass:color";

// These styles are relatively unrestricted, keep them in mind

button {
    background: rgba(255, 255, 255, 3%);
    color: inherit;
    outline: none;
    border: 1px solid #FFFFFF40;
    padding: 0 variables.$s1 * 2;
    font: inherit;
    cursor: pointer;
    border-radius: variables.$s1;
    user-select: none;
    position: relative;
    color: variables.$fontColor;

    &:hover {
        background: rgba(255, 255, 255, 10%);
        border: 1px solid #FFFFFF80;
    }
    &:active {
        background: rgba(255, 255, 255, 20%);
    }
    &:focus-visible {
        outline: 1px dotted variables.$outline;
    }
    &.loading {
        color: color.scale(variables.$fontColor, $alpha: -50%);
        cursor: progress;

        &::after {
            content: "";
            height: calc(100% - variables.$s1);
            inset: 0;
            margin: auto;
            position: absolute;

            @include loader.LoadingCircle
        }
    }
    &.disabled {
        color: color.scale(variables.$fontColor, $alpha: -50%);
        cursor: not-allowed;
    }
    &.errored {
        position: relative;
        &::before {
            color: variables.$brightRed;
            content: "error";
            position: absolute;
            right: 0;
            top: 0;

            // not sure how to clean this up - should probably make a mixin?
            user-select: none;
            font-family: 'Material Symbols Outlined';
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            font-feature-settings: 'liga';
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
        &:hover {
            &::after {
                // TODO could probably use tooltip mixin here
                content: attr(data-error);
                font-size: 1rem;
                white-space: pre;
                border: variables.$border0;
                padding: variables.$s1;
                background: variables.$background0;
                position: absolute;
                left: calc(100% + variables.$s1);
                top: 0;
                min-height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}


html {
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: variables.$fontFamily;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}
a {
    color: inherit;
}

input {
    display: block;
    &:not([type="checkbox"]) {
        width: 100%;
    }
    font-size: inherit;
    color: inherit;
    outline: none;
    font-family: inherit;
    background: none;
    border: variables.$border0;
    padding: variables.$s1 * 0.5;
}

.hide {
    display: none;
}

label, .label {
    color: variables.$label;
}