@use "variables";

.modal {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    padding-top: variables.$s1 * 16;
    padding-bottom: variables.$s1 * 8;
    justify-content: center;
    @include variables.vertical-scroll;
    &.minimized {
        padding: 0;
        .inner-modal {
            min-width: unset;
        }
        // only visible under scrollbar
        background: variables.$background1;
    }
    .inner-modal {
        min-width: 30em;
        background-color: variables.$background0;
        border: variables.$border0;
        b {
            color: variables.$highlighted
        }
        .header {
            border-bottom: variables.$border0;
            padding: variables.$s1;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            .icon-button:first-of-type {
                margin-left: auto;
            }
        }
        .body {
            padding: 0.2em;
            white-space: pre-wrap;
            .field {
                // <label> has some awkward side effects, so sometimes we use <div className="label">
                label, .label {
                    font-size: 0.7em;
                    color: variables.$label;
                }
                .field-value {
                    margin-left: 0.6em;
                }
            }
            >.loader {
                margin: auto;
            }
        }
        .footer {
            border-top: variables.$border0;
            padding: variables.$s1;
            display: flex;
            justify-content: flex-end;
            gap: variables.$s1;
        }
    }
}