@use "variables";

.modal {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-modal {
        min-width: 30em;
        background-color: variables.$background0;
        border: variables.$border0;
        b {
            color: variables.$highlighted
        }
        .header {
            border-bottom: variables.$border0;
            padding: 0.2em;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            .close-button {
                margin-left: auto;
            }
        }
        .body {
            padding: 0.2em;
            white-space: pre-wrap;
            .field {
                label {
                    font-size: 0.7em;
                    color: variables.$label;
                }
                .fieldValue {
                    margin-left: 0.6em;
                }
            }
            >.loader {
                margin: auto;
            }
        }
        .footer {
            border-top: variables.$border0;
            padding: variables.$s1;
            display: flex;
            justify-content: flex-end;
            gap: variables.$s1;

            button {
                background: none;
                color: inherit;
                outline: none;
                border: 1px solid #FFFFFF40;
                padding: 0 variables.$s1 * 2;
                font: inherit;
                cursor: pointer;
                border-radius: variables.$s1;
                user-select: none;
                &:hover {
                    background: rgba(255, 255, 255, 10%);
                    border: 1px solid #FFFFFF80;
                }
                &:active {
                    background: rgba(255, 255, 255, 20%);
                }
            }
        }
    }
}