@use "sass:color";

$mpv-color: #691f69;

$black: #1E1E1E;
$white: #E5E5E5;

$blue: #2472C8;
$cyan: #11A8CD;
$green: #0DBC79;
$purple: #BC3FBC;
$red: #CD3131;
$yellow: #E5E510;

$brightBlack: #666666;
$brightBlue: #3B8EEA;
$brightCyan: #29B8DB;
$brightGreen: #23D18B;
$brightPurple: #D670D6;
$brightRed: #F14C4C;
$brightYellow: #F5F543;

$error: $brightRed;

$background0: $black;
$background1: #303030;

$border0: 1px solid #FFFFFF80;
$border1: 1px solid #FFFFFFE0;

$highlighted: color.mix(#FFFFFF, $brightGreen, 30%);
$label: color.mix(#FFFFFF, $brightBlue, 70%);

$s1: 0.2em;
$fontColor: #FFF;
$fontFamily: "Segoe UI", Tahoma, sans-serif;
$outline: $label;

$tooltipFontSize: 0.75rem;

$known: $brightGreen;
$ignored: $brightYellow;


@mixin vertical-scroll {
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    scrollbar-width: thin;
}


@mixin MaterialIcon {
    user-select: none;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}