@use "sass:color";

$mpv-color: #691f69;

$black: #1E1E1E;
$white: #E5E5E5;

$blue: #2472C8;
$cyan: #11A8CD;
$green: #0DBC79;
$purple: #BC3FBC;
$red: #CD3131;
$yellow: #E5E510;

$brightBlack: #666666;
$brightBlue: #3B8EEA;
$brightCyan: #29B8DB;
$brightGreen: #23D18B;
$brightPurple: #D670D6;
$brightRed: #F14C4C;
$brightYellow: #F5F543;
$brightOrange: #DB8D00;

$success: $brightGreen;
$warning: $brightYellow;
$error: $brightRed;

$background0: $black;
$background1: #303030;
$backgroundTooltip: #222;

$border0: 1px solid #FFFFFF80;
$dashedBorder0: 1px dashed #FFFFFF80;
$border1: 1px solid #FFFFFFE0;
$border2: 1px solid #FFFFFF40;

$hoverHighlight: #FFFFFF10;

$highlighted: color.mix(#FFFFFF, $brightGreen, 30%);
$label: color.mix(#FFFFFF, $brightBlue, 70%);

$s1: 0.2em;
$fontColor: #FFF;
$linkColor: $label;
$fontFamily: "Segoe UI", Tahoma, sans-serif;
$outline: $label;

$tooltipFontSize: 0.75rem;

$known: $brightGreen;
$ignored: $brightYellow;


@mixin vertical-scroll {
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    scrollbar-width: thin;
}


@mixin MaterialIcon {
    user-select: none;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// values from
// https://m3.material.io/styles/elevation/tokens
// Probably should have a better source, but couldn't find
@mixin shadow2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px
}