@use "../../styles/variables" as *;

@layer pages {
    #reader-page {
        .row {
            display: flex;
            align-items: center;
            gap: $s1;
        }
        flex: 1;
        display: flex;
        flex-direction: column;
        #body-container {
            padding: 0;
            position: relative;
            flex: 1 1 0;
            display: flex;
            min-height: 0; // I don't really understand why this helps, but it fixes some scrollbar stuff
        }
        #status-info {
            position: absolute;
            right: 0;
            padding: $s1 * 1;
            padding-right: $s1 * 2;
            font-size: 1.3em;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            #page-indicator {
                font-size: 0.5em;
            }
        }
        #toc {
            .toc-point {
                text-decoration: none;
                &:not(.active) {
                    color: white;
                }
            }
            padding: $s1 * 2;
            padding-left: 2em+$s1 * 2;
            text-indent: -2em;
            max-width: 25vw;
            min-width: 15em;
            font-size: 0.75em;
            @include vertical-scroll;
        }
        #epub-viewer {
            padding: 16px;
            padding-bottom: max(16px, 50vh); // for tooltip + scrolling
            @include vertical-scroll;
            max-width: 40em;
            #epub-page-wrapper {
                // Not sure if I need this element anymore
                position: relative;
            }
            .epub-page {
                font-size: 1.3em;
                ruby:not(.ruby-auto-gen) {
                    rt {
                        // highlight readings we're more confident in
                        color: #FCC;
                    }
                }
                svg {
                    display: block;
                }
                a {
                    text-decoration: none;
                    color: $linkColor
                }
                p {
                    margin-bottom: $s1*2;
                    padding-left: $s1 * 2;
                    border-left: $border0;
                }
                hr {
                    margin: $s1 * 2 0;
                }
            }
        }
    }
}