@layer pages {
    #reader-page {
        .epub-page {
            font-size: 1.3em;
            max-width: 30em;
            p~p {
                margin-bottom: 0.5em;
            }
        }
    }
}