@use "../styles/variables" as *;

#settings-modal {
    .footer-buttons {
        padding-top: $s1;
        display: flex;
        gap: $s1;
    }

    #mining-offset-row {
        display: flex;
        flex-direction: row;
    }
}