@use "../styles/variables" as *;
@use "sass:color";

#subs-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    #outer-body-container {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        position: relative;
        #body-container {
            flex: 1 1 0;
            overflow-y: auto;
            scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
            scrollbar-width: thin;
        }
    }
    #subtitle-container {
        display: flex;
        justify-content: flex-start;
        font-size: 1.3em;
        >.subtitle-viewer {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 30em;
            position: relative;
            padding-left: 1.5em; // leave room for pointer
            .pointer {
                font-family: monospace;
                position: absolute;
                left: 0;
                transform: translateY(-50%);
            }
            &:has(>.inner:empty) {
                display: none;
            }
            .unknown {
                background-color: oklch(0.7012 0.1888 22.97 / 15%);
            }
        }
        .subtitle-entry {
            &.highlight {
                background-color: oklch(0.7012 0.1888 143.23 / 15%);
            }
            display: flex;
            align-items: stretch;
            .timestamp {
                cursor: pointer;
                align-items: center;
                display: flex;
                font-family: monospace;
                opacity: 0.5;
                padding-right: 16px;
            }
            .subtitles {
                // Not sure why I had these styles
                // display: flex;
                // flex-direction: column;
                white-space: pre-wrap;
            }
        }
        .hover-rectangle {
            border-bottom: 2px dashed color.change($red, $alpha: 0.7);
            &.known {
                border-bottom: 2px dashed color.change($green, $alpha: 0.7);
            }
            &.similar {
                border-bottom: 2px dashed color.change($yellow, $alpha: 0.7);
            }
            &.ignore {
                border-bottom: 2px dashed color.change($blue, $alpha: 0.7);
            }
            position: absolute;
            pointer-events: none;
        }
        .popover {
            .header {
                gap: $s1;
                .vocab-state {
                    padding-left: 1em;
                    margin-left: auto;
                    font-size: 0.6em;
                    &.new {
                        color: $brightRed;
                    }
                    &.known {
                        color: $brightGreen;
                    }
                    &.particle {
                        color: $brightBlue;
                    }
                    &.similar, &.kana, &.ignored {
                        color: $brightYellow;
                    }
                }
                .frequency {
                    font-size: 0.6em;
                    &::before {
                        content: "Top "
                    }
                }
            }
            .reading {
                font-size: 0.8em;
                opacity: 0.8;
            }
            max-width: 600px;
        }
    }
    #status-info {
        font-size: 1.3em;
        position: absolute;
        padding: 0.25em;
        right: 0px;
        display: flex;
        align-items: center;
        #current-time {
            font-family: monospace;
            top: 0;
        }
        #connection-status-dot {
            margin: 0.2em;
            width: 0.4em;
            height: 0.4em;
            border-radius: 50%;

            &:not(.disconnected):not(.connected) {
                background-color: rgb(255, 205, 125);
                cursor: wait;
            }

            &.disconnected {
                background-color: rgb(254, 97, 99);
                cursor: pointer;
            }
            &.connected {
                background-color: rgb(69, 197, 83);
            }
        }
    }

    #recommended-mining-modal {
        .vocab-row {
            display: flex;
            align-items: center;
            gap: $s1;
        }
    }
}