@use "../../styles/variables";
@use "sass:color";

#ss-page {
    #search-container {
        font-size: 1.2em;
        display: flex;
        width: 20em;
        padding: 0.3em;
        background-color: variables.$background0;
        border: 1px solid #FFFFFF30;
        border-radius: 4px;
        align-items: center;
        &:focus-within {
            border: 1px solid #FFFFFF80;
        }

        #search {
            flex: 1;
            padding: 0;
            border: none;
            align-self: stretch;
        }

        .search-button {
            font-size: inherit;
        }
    }

    #results {
        padding-left: 0.5em;
        >div.match {
            border-bottom: 1px solid #FFFFFF30;
            padding: 0.25em;
            &:hover {
                &:not(.selected) {
                    background-color: color.change(variables.$brightGreen, $alpha: 0.2);
                }
                cursor: pointer;
            }

            &.selected {
                background-color: color.change(variables.$brightRed, $alpha: 0.2);
            }

            >div {
                display: flex;
                flex-direction: column;
                b {
                    color: variables.$highlighted;
                }
            }
            .play-icon {
                font-size: 1.3em;
            }
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}