@use "../styles/variables" as *;

#mining-modal {
    .time-field .field-value {
        display: flex;
        align-items: center;
    }

    .header {
        position: relative;
        .source {
            max-width: 50%;
            font-size: 0.45em;
            position: absolute;
            right: $s1;
            top: 0;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before {
                content: "From "
            }
        }
    }

    .field {
        div[contentEditable="plaintext-only"] {
            padding-left: $s1 * 0.5;
            padding-right: $s1 * 0.5;
            border: $border0;
            outline: none;
            &:focus {
                border: $border1;
            }
        }
    }

    label, .label {
        display: flex;
        align-items: center;

        .menu-button {
            font-size: 1em;
        }
    }

    .audio-entry-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        // couldn't get *:hover to work here, not sure why. !important didn't fix it
        &:hover:not(:has(button:hover)) {
            background: #FFFFFF20;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #FFFFFF80;
        }
    }
}