@use "../styles/variables";

// TODO change classname and put in subtitles.scss
.miner-modal {
    .time-field .field-value {
        display: flex;
        align-items: center;
        gap: variables.$s1;
    }

    .field {
        div[contentEditable="plaintext-only"] {
            padding-left: variables.$s1 * 0.5;
            margin-left: variables.$s1 * -0.5;
        }
    }

    label {
        display: flex;
        align-items: center;
    }
}