@use "../styles/variables";

.miner-modal {
    .time-field .field-value {
        display: flex;
        align-items: center;
        gap: variables.$s1;
    }
    .editable-sentence {
        padding: variables.$s1 * 0.5;
    }
}