@use "pages/subtitles/subtitles";
@use "pages/anki/anki";
@use "pages/ss/ss";
@use "styles/loader";
@use "styles/variables";
@use "styles/modal";
@use "styles/global";
@use "components/basic/basic";
@use "components/components";
@use "views/RegexReplacements";
@use "views/settings";
@use "sass:color";

html {
    font-size: 24px;
}

body {
    background-color: variables.$background1;
    color: variables.$fontColor;
    padding: 0;

    font-size: 24px;
    #body-container {
        padding: 16px;
    }
    #fullscreen-button {
        display: none;
    }
}


#mh-header {
    background-color: variables.$background0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    .button {
        align-self: stretch;
        font-size: 2em;
        padding: 0 8px;
        text-decoration: none;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        display: flex;
        align-items: center;

        &.subs {
            background-color: variables.$mpv-color;
        }
        &.anki {
            background-color: rgba(0, 188, 255, 30%);
        }
        &.ss {
            background-color: color.change($color: variables.$yellow, $alpha: 0.3);
        }
        &:hover {
            border: 1px solid rgb(255, 255, 255, 50%);
        }
        &:active {
            border: 1px solid rgb(255, 255, 255);
        }
    }
}

@mixin tooltip {
    font-size: variables.$tooltipFontSize;
    font-family: variables.$fontFamily;
    display: none;
    max-width: 280px;
    width: max-content;
    position: absolute;
    top: 100%;

    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 50%);
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    z-index: 1;
    white-space: pre-wrap;

    &:hover {
        display: block;
    }
}

.tooltip {
    @include tooltip;
}

/* *:hover doesn't work for some reason */
span:hover:not(.error)>.tooltip {
    display: block;
}

*:has(>.tooltip) {
    position: relative
}


[data-tooltip] {
    position: relative;
    &:hover:not(.errored):before {
        @include tooltip;
        display: block;
        content: attr(data-tooltip);

        pointer-events: none; // prevent firing parent events (hover/click)
    }
}

.meaning-index,
.sentence-index,
.kanji {
    cursor: default;
}

#card-container {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    >div.card-row {
        display: flex;
        align-items: center;
        min-width: min(40em, 100%);
        gap: 6px;
        .button {
            padding: 0px 5px 3px 5px;
            text-decoration: underline;
            border: 1px solid rgba(255, 255, 255, 30%);
            cursor: pointer;
            &:hover {
                border: 1px solid rgb(255, 255, 255);
            }
        }

        .tooltip {
            font-size: 0.75em;
        }
        .tooltip b {
            color: #a2f4ff;
        }

        .delete-button {
            color: rgb(192, 55, 55);
            font-weight: bold;
        }

        .save-button {
            color: rgb(55, 192, 96);
            font-weight: bold;
        }

        .update-button {
            color: rgb(171, 192, 55);
            font-weight: bold;
        }
    }
}

a.sentence-search {
    color: rgb(143, 143, 143)
}

div#result {
    &.error {
        color: rgb(202, 140, 140)
    }
}

.icon-button {
    // gets rid of button styles
    background: none;
    border: none;
    margin: 0;
    color: inherit;

    cursor: pointer;
    user-select: none;
    padding: variables.$s1;
    border-radius: 30%;
    &:hover:not(.disabled):not(.loading), &:focus:not(.disabled):not(.loading) {
        background: rgba(255, 255, 255, 10%);
        border: none;
    }
    &:active:not(.disabled):not(.loading) {
        background: rgba(255, 255, 255, 20%);
        border: none;
    }
}

#title {
    display: flex
}

.flex-spacer {
    flex-grow: 1;
}

.material-symbols-outlined {
    user-select: none;

    &.fill {
        font-variation-settings: 'FILL' 1;
    }
}

#home-page {
    #helpful-links {
        a {
            color: color.mix(variables.$fontColor, variables.$brightBlue, 70%)
        }
    }
}

#popover-portal {
    &:empty {
        display: none;
    }
    pointer-events: none;
    &>* {
        pointer-events: auto;
    }
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    .popover {
        position: fixed;
        left: anchor(left);
        top: anchor(bottom);

        &.menu {
            @include variables.shadow2;
        }

        // copied from .audio-entry-option
        .menu-option {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: variables.$s1 variables.$s1 * 2;
            max-width: 30em;
            // couldn't get *:hover to work here, not sure why. !important didn't fix it
            &:hover:not(:has(button:hover)) {
                background: #FFFFFF20;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #FFFFFF80;
            }
        }
    }
}

.warning {
    color: variables.$warning;
}