body {
    background-color: #272727;
    color: #fff;

    &.popup {
        width: 300px;
        padding-bottom: 100px;
    }
}

.tooltip {
    display: none;
    /* ideally this would be max-width, but it behaves all weird with absolute pos inside inline element */
    width: 280px;

    top: 20px;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 50%);
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

/* *:hover doesn't work for some reason */
span:hover>.tooltip {
    display: block;
}

*:has(>.tooltip) {
    position: relative
}


.tooltip:hover {
    display: block;
}

.meaning-index,
.sentence-index,
.kanji {
    cursor: default;
}

#card-container {
    font-size: 16px;
}


#card-container>div.card-row {
    display: flex;
}

.card-row>* {
    padding: 0px 3px
}

.card-row .button {
    padding: 0px 5px 3px 5px;
    text-decoration: underline;
    border: 1px solid rgba(255, 255, 255, 30%);
    margin: 0px 1px;
    cursor: pointer;
}

.card-row .button:hover {
    border: 1px solid rgb(255, 255, 255);
}

.tooltip b {
    color: #a2f4ff;
}

.delete-button {
    color: rgb(192, 55, 55);
    font-weight: bold;
}

.save-button {
    color: rgb(55, 192, 96);
    font-weight: bold;
}

.update-button {
    color: rgb(171, 192, 55);
    font-weight: bold;
}

a.sentence-search {
    color: rgb(143, 143, 143)
}

#last-error {
    color: rgb(202, 140, 140)
}

.hide {
    display: none;
}

.flex-spacer {
    flex-grow: 1;
}

.icon-button {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border-radius: 30%;
    &:hover {
        background: rgba(255, 255, 255, 10%);
    }
}

#title {
    display: flex
}